<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Application{% endblock %}</title>
    {% block stylesheets %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dashboard</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Tempusdominus Bbootstrap 4 -->
        <link rel="stylesheet" href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
        <!-- iCheck -->
        <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
        <!-- JQVMap -->
        <link rel="stylesheet" href="/plugins/jqvmap/jqvmap.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="/dist/css/adminlte.min.css">

        <link rel="stylesheet" href="/css/admin.css">
        <!-- overlayScrollbars -->
        <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
        <!-- Daterange picker -->
        <link rel="stylesheet" href="/plugins/daterangepicker/daterangepicker.css">
        <!-- summernote -->
        <link rel="stylesheet" href="/plugins/summernote/summernote-bs4.css">
        <!-- Google Font: Source Sans Pro -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    {% endblock %}
</head>

<body class="hold-transition sidebar-mini layout-fixed">
{% block body %}
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/profile" class="nav-link">Home</a>
                </li>
            </ul>

            <!-- SEARCH FORM -->
{#            <form class="form-inline ml-3">#}
{#                <div class="input-group input-group-sm">#}
{#                    <input class="form-control form-control-navbar" type="search" placeholder="Search"#}
{#                           aria-label="Search">#}
{#                    <div class="input-group-append">#}
{#                        <button class="btn btn-navbar" type="submit">#}
{#                            <i class="fas fa-search"></i>#}
{#                        </button>#}
{#                    </div>#}
{#                </div>#}
{#            </form>#}

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a href="{{ path('fos_user_security_logout') }}" id="log-out-name">Logout ({{ app.user.username }}
                        )</a>
                </li>

            </ul>
        </nav>
        <!-- /.navbar -->

        {% block sidebar %}
            <!-- Main Sidebar Container -->
            <aside class="main-sidebar sidebar-dark-primary elevation-4">
                <!-- Brand Logo -->
                <a href="/profile" class="brand-link">
                    <img src="/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                         style="opacity: .8">
                    <span class="brand-text font-weight-light">Dashboard</span>
                </a>

                <!-- Sidebar -->
                <div class="sidebar">
                    <!-- Sidebar user panel (optional) -->
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            <img src="/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                        </div>
                        <div class="info">
                            <a href="#" class="d-block">{{ app.user.username }}</a>
                        </div>
                    </div>

                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                            data-accordion="false">
                            <!-- Add icons to the links using the .nav-icon class
                                 with font-awesome or any other icon font library -->
                            <li class="nav-item">
                                <a href="/profile/"
                                   class="nav-link {{ routeActive(app.request.uri, 'profile') }}">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p>
                                        Profile
                                    </p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/promotion"
                                   class="nav-link  {{ routeActive(app.request.uri, 'promotion')  }}">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p>
                                        Promotions list
                                    </p>
                                </a>
                            </li>
                            {% if is_granted("ROLE_SUPER_ADMIN") %}
                                <li class="nav-item">
                                    <a href="{{ path('statistic_add') }}"
                                       class="nav-link {{ routeActive(app.request.uri, 'statistic')  }} ">
                                        <i class="nav-icon fas fa-th"></i>
                                        <p>
                                            Add statistics
                                        </p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="{{ path('user_index') }}"
                                       class="nav-link {{ routeActive(app.request.uri, 'user')  }}">
                                        <i class="nav-icon fas fa-th"></i>
                                        <p>
                                            Users
                                        </p>
                                    </a>
                                </li>

                            {% endif %}
                        </ul>
                    </nav>
                    <!-- /.sidebar-menu -->
                </div>
                <!-- /.sidebar -->
            </aside>
        {% endblock %}

        <div class=" content-wrapper">

            {% for label, messages in app.flashes(['warning', 'error', 'success']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block content %}

            {% endblock %}
        </div>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- DataTables -->
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

    <!-- ChartJS -->
    <script src="/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="/plugins/moment/moment.min.js"></script>
    <script src="/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>

    <script src="/dist/js/adminlte.js"></script>
    <script src="/dist/js/pages/dashboard.js"></script>
    <script src="/dist/js/demo.js"></script>

    <script>
        var td = $("#example1").find('.not-found-td').length
        var columnsVar = (td) ? [] : [
            {
                "className": 'details-control',
                "orderable": false,
                "data": null,
                "defaultContent": ''
            },
            {"data": "Id"},
            {"data": "Title"},
            {"data": "Date"},
            {"data": "Actions"}
        ]
    </script>

    {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
        <script>
            columnsVar.push({
                'data':'Username'
            })
        </script>
    {% endif %}

    <script>

        $(document).ready(function () {
            $(".add-more").click(function () {
                var html = $(".copy").html();
                $(".after-add-more").after(html);
            });


            $("body").on("click", ".remove", function () {
                $(this).parents(".control-group").remove();
            });
        });

        $(function () {

            if ($('#userModel').length) {
                $("#userModel").DataTable({})
            }
            if ($('#example1').length) {
                var table = $("#example1").DataTable({
                    "columns": columnsVar
                });

                function format(d, rolename) {
                    var role = rolename ? '<td>' + d.clicks + '</td>' : ''
                    return '<tr>' +
                        '<td>' + d.id + '</td>' +
                        '<td>' + d.note + '</td>' +
                        role +
                        '</tr>';
                }


                $('#example1 tbody').on('click', 'td.details-control', function () {
                    var tr = $(this).closest('tr');
                    var row = table.row(tr);

                    if (row.child.isShown()) {
                        // This row is already open - close it
                        row.child.hide();
                        tr.removeClass('shown');
                    } else {
                        $.ajax({
                            type: "POST",
                            url: "{{ path('promotionProducts') }}",
                            data: {promotion_id: row.data().Id}
                        })
                            .done(function (data) {

                                if (typeof data.status != "undefined" && data.status != "undefined") {
                                    // At this point we know that the status is defined,
                                    // so we need to check for its value ("OK" in my case)
                                    if (data.status == "OK") {
                                        // At this point we know that the server response
                                        // is what we were expecting,
                                        // so retrive the response and use if

                                        if (typeof data.message != "undefined" && data.message != "undefined") {
                                            var role = data.role_admin ? '<th>Clicks</th>' : ''
                                            var txt = '<h1>Products</h1><table class="child-products" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;"><thead>\n' +
                                                '                                <tr><th>Product Id</th><th>Note</th>' + role + '</tr>\n' +
                                                '                                </thead>\n' +
                                                '                                <tbody>'
                                            $.each(data.message, function (i, item) {
                                                txt += format(item, role)
                                            });
                                            txt += '</tbody></table>'
                                            row.child(txt).show();
                                        }
                                    }
                                }
                            });

                        tr.addClass('shown');

                    }
                });
            }

        });
    </script>
{% endblock %}
</body>
</html>
