{% extends 'frontend/layouts/main.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="content-welcome">
        <img src="/dist/img/maxresdefault.jpg">
    </div>
{% endblock %}
