{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}




<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Profile</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">User Profile</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            {% include 'backend/user/profile-left-side.html.twig' %}
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a
                                        class="nav-link {% if app.request.get('_route') == 'fos_user_profile_show' %} active {% endif %}"
                                        href="/profile">Profile</a></li>
                            <li class="nav-item"><a
                                        class="nav-link {% if app.request.get('_route') == 'fos_user_change_password' %} active {% endif %} change-password"
                                        href="/profile/change-password">Change password</a></li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="settings">
                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-2 col-form-label">Current Password </label>
                                    <div class="col-sm-10">
                                        {{ form_widget(form.current_password, {'attr': {'id':'inputName', 'class': 'form-control', "placeholder": 'Current Password'}}) }}
                                        <div class="form-error">
                                            {{ form_errors(form.current_password) }}
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <label for="inputName2" class="col-sm-2 col-form-label">New password</label>
                                    <div class="col-sm-10">
                                        {{ form_widget(form.plainPassword.first, {'attr': {'id':'inputName', 'class': 'form-control', "placeholder": 'New password'}}) }}
                                        <div class="form-error">
                                            {{ form_errors(form.plainPassword.first) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inputName2" class="col-sm-2 col-form-label">Repeat new password</label>
                                    <div class="col-sm-10">
                                        {{ form_widget(form.plainPassword.second, {'attr': {'id':'inputName', 'class': 'form-control', "placeholder": 'Repeat new password'}}) }}
                                        <div class="form-error">
                                            {{ form_errors(form.plainPassword.second) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <button type="submit" class="btn btn-danger">Submit</button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>



{{ form_end(form) }}
