.form-error ul li {
    list-style-type: none;
    color: red;
    margin-top: 11px;
}
.form-error{
    width: 100%;
}
.form-error ul{
    padding-left: 0px;
}

#log-out-name
{
    color: black;
}

#example1_filter{
    float: right;
}

.dataTables_paginate .pagination{
    float: right;
}

td.details-control {
    background: url(/resources/details_open.png) no-repeat center center;
    cursor: pointer;
}

.promotion-eye,.promotion-edit{
    margin-right: 10px;
}

.new-promotion{
    margin-top: 10px;
    margin-bottom: 10px;
}

a.btn.btn-info.back-to-list {
    margin-bottom: 20px;
}

.add-title{
    margin-bottom: 20px;
}

form .fa.fa-trash{
    color: red;
}
.after-add-more .input-group-btn{
float: right;
}

.promotion_control{
    margin-right: 10px;
}

.hide {
    display: none!important;
}

.fieldset-promotion{
    border: 1px solid #c5c5c5;
    padding: 20px;
}

.fieldset-promotion legend{
    width: auto;
}

.child-products{
    width: 100%;
}

.build-form-parent .alert.alert-danger ul
{
    margin-bottom: 0px;
    padding-left: 0px;
}
.build-form-parent .alert.alert-danger ul li
{
    list-style-type: none;
}

.register-confirmed
{
    color: #ff5200;
    font-size: 23px;
    margin-top: 100px;
    text-align: center;
}

.change-password{
    margin-left: 10px;
}

#userModel_filter
{
    float: right;
}

#example1
{
    width: 100% !important;
}