.form-error ul li {
    list-style-type: none;
    color: red;
    margin-top: 11px;
}
.form-error{
    width: 100%;
}
.form-error ul{
    padding-left: 0px;
}

.card.bg-light
{
    position: absolute;
    margin-top: 48px;
    left: 40%;
}

.card-body.mx-auto{
    min-width: 450px;
}

.forgot-password{
    float: right;
}


.content-welcome
{
    text-align: center;
    font-size: 34px;
    color: #3a3a3a;
}


.content-welcome img
{
    width: 100%;
    height: 100vh;
}

.navbar-nav.mr-auto li a
{
    margin-right: 20px;
    color: black;
}