<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Application{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
              id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    {% endblock %}
</head>
<body>
{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                    <li class="nav-item profile-frontend">
                        <a href="{{ path('fos_user_profile_show') }}">
                            Profile
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }} ({{ app.user.username }})
                        </a>
                    </li>

                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/register">Register </a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </nav>

    {#    <div>#}
    {#        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
    {#            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
    {#            <a href="{{ path('fos_user_security_logout') }}">#}
    {#                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}#}
    {#            </a>#}
    {#        {% endif %}#}
    {#    </div>#}

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>
{% endblock %}
</body>
</html>