{% extends 'frontend/layouts/main.html.twig' %}

{% block content %}

    <div class="container">
        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h4 class="card-title mt-3 text-center">Create Account</h4>
                {{ form_start(form) }}

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">  <i class="fa fa-calendar"></i></span>
                    </div>
                    {{ form_widget(form.username, {'attr': {'class': 'form-control', "placeholder": 'Username'}}) }}

                    <div class="form-error">
                        {{ form_errors(form.username) }}
                    </div>
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    {{ form_widget(form.email, {'attr': {'class': 'form-control', "placeholder": 'Email Address'}}) }}

                    <div class="form-error">
                        {{ form_errors(form.email) }}
                    </div>
                </div>



                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', "placeholder": 'Password'}}) }}

                    <div class="form-error">
                        {{ form_errors(form.plainPassword.first) }}
                    </div>
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', "placeholder": 'Password Confirm'}}) }}

                    <div class="form-error">
                        {{ form_errors(form.plainPassword.second) }}
                    </div>
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
                </div>

                <p class="text-center">Have an account? <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a> </p>
                {{ form_end(form) }}
            </article>
        </div> <!-- card.// -->

    </div>
    <!--container end.//-->
{% endblock %}