{{ form_start(form) }}

<div class="build-form-parent">

    {% if not form.vars.valid %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <div class="form-group row">
        <label for="inputName" class="col-sm-1 col-form-label">Title</label>
        <div class="col-sm-11">
            {{ form_widget(form.title, {'attr': {'id':'inputName', 'class': 'form-control', "placeholder": 'Title'}}) }}
            <div class="form-error">
                {{ form_errors(form.title) }}
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="inputName" class="col-sm-1 col-form-label">Date</label>
        <div class="col-sm-11">
            {{ form_widget(form.date, {'attr': {'id':'inputName', 'class': 'form-control', "placeholder": 'Date'}}) }}
            <div class="form-error">
                {{ form_errors(form.date) }}
            </div>
        </div>

    </div>

    <fieldset class="fieldset-promotion">
        <legend>Add Products:</legend>
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="action.php">
                    <div class="input-group control-group after-add-more">
                        <div class="control-group input-group" style="margin-top:10px">
                            <input type="number" name="promotion_product[product_id][]"
                                   class="form-control promotion_control" placeholder="Product ID" value="{% if values %}{{ values.0.getProductId() }}{% endif %}">
                            <input type="text" name="promotion_product[note][]" class="form-control promotion_control" value="{% if values %}{{ values.0.getNote() }}{% endif %}"
                                   placeholder="Note">
                            <div class="input-group-btn">
                                <button class="btn btn-success add-more" type="button"><i
                                            class="glyphicon glyphicon-plus"></i> Add
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- Copy Fields -->
                {% if values and values|length > 1 %}
                    {% for i in values|slice(1,values|length) %}
                        <div class="control-group input-group" style="margin-top:10px">
                            <input type="number" name="promotion_product[product_id][]"
                                   class="form-control promotion_control" placeholder="Product ID" value="{{ i.getProductId() }}">
                            <input type="text" name="promotion_product[note][]" class="form-control promotion_control" value="{{ i.getNote() }}"
                                   placeholder="Note">
                            <div class="input-group-btn">
                                <button class="btn btn-danger remove" type="button"><i
                                            class="glyphicon glyphicon-remove"></i> Remove
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="copy hide">
                    <div class="control-group input-group" style="margin-top:10px">
                        <input type="number" name="promotion_product[product_id][]"
                               class="form-control promotion_control" placeholder="Product ID">
                        <input type="text" name="promotion_product[note][]" class="form-control promotion_control"
                               placeholder="Note">
                        <div class="input-group-btn">
                            <button class="btn btn-danger remove" type="button"><i
                                        class="glyphicon glyphicon-remove"></i> Remove
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    {{ form_row(form._token) }}

    <button class="btn btn-success new-promotion">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
