{% extends 'backend/layouts/main.html.twig' %}

{% block title %}Edit Promotio{% endblock %}

{% block content %}
    <div class="card-body">

        <a href="{{ path('promotion_index') }}" class="btn btn-info back-to-list">Back to list</a>

        <h2 class="add-title">Edit Promotion</h2>

        {{ include('backend/promotion/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

{% endblock %}