{% extends 'backend/layouts/main.html.twig' %}

{% block content %}
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Promotions List</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="form-group">
                                <a href="{{ path('promotion_new') }}" class="btn btn-success">
                                    Create promotion
                                </a>
                            </div>


                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Id</th>
                                    <th>Title</th>
                                    <th>Date</th>
                                    {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                                        <th>Username</th>
                                    {% endif %}
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for promotion in promotions %}
                                <tr>
                                    <td></td>
                                    <td>{{ promotion.id }}</td>
                                    <td>{{ promotion.title }} </td>
                                    <td>{{ promotion.date ? promotion.date|date('Y-m-d') : '' }}</td>
                                    {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                                        <td>{{ promotion.getPromotionUser().getUsername() }}</td>
                                    {% endif %}
                                    <td>
                                        <a href="{{ path('promotion_show', {'id': promotion.id}) }}" class="promotion-eye"><i class="fas fa-eye"></i></a>
                                        <a href="{{ path('promotion_edit', {'id': promotion.id}) }}" class="promotion-edit"><i class="fas fa-edit"></i></a>
                                        {{ include('backend/promotion/_delete_form.html.twig') }}
                                    </td>
                                </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="{% if app.user.hasRole('ROLE_SUPER_ADMIN') %}6{% else %}5{% endif %}" class="not-found-td">No records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>

{% endblock %}