{% extends 'backend/layouts/main.html.twig' %}

{% block content %}

    <div class="card-body">
        <title>New Promotion</title>


        <a href="{{ path('promotion_index') }}" class="btn btn-info back-to-list">Back to list</a>

        <h2 class="add-title">Create new Promotion</h2>

        {{ include('backend/promotion/_form.html.twig') }}

    </div>

{% endblock %}