{% extends 'backend/layouts/main.html.twig' %}

{% block content %}

<div class="card-body">
    <title>New Promotion</title>


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ promotion.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ promotion.title }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ promotion.date ? promotion.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('promotion_index') }}" class="btn btn-info">Back to list</a>

    <a href="{{ path('promotion_edit', {'id': promotion.id}) }}" class="btn btn-success">edit</a>

{% endblock %}