{{ form_start(form) }}

<div class="build-form-parent">

    {% if not form.vars.valid %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
        </div>
    {% endif %}


    <div class="form-group row">
        <label for="inputName" class="col-sm-1 col-form-label">Username</label>
        <div class="col-sm-11">
            {{ form_widget(form.username, {'attr': {'id':'inputName', 'class': 'form-control', "placeholder": 'Username'}}) }}
            <div class="form-error">
                {{ form_errors(form.username) }}
            </div>
        </div>
    </div>


    <div class="form-group row">
        <label for="inputName" class="col-sm-1 col-form-label">Email</label>
        <div class="col-sm-11">
            {{ form_widget(form.email, {'attr': {'id':'inputName', 'class': 'form-control', "placeholder": 'Email'}}) }}
            <div class="form-error">
                {{ form_errors(form.email) }}
            </div>
        </div>
    </div>


    <div class="form-group row">
        <label for="inputName" class="col-sm-1 col-form-label">Enabled</label>
        <div class="col-sm-11">
            {{ form_widget(form.enabled, {'attr': {'id':'inputName', 'class': 'form-control', "placeholder": 'Enabled'}}) }}
            <div class="form-error">
                {{ form_errors(form.enabled) }}
            </div>
        </div>
    </div>


    <div class="form-group row">
        <label for="inputName" class="col-sm-1 col-form-label">Password</label>
        <div class="col-sm-11">
            <input type="text" id="user_password" name="user[password]" required="required" class="form-control" placeholder="Password" value="">
            <div class="form-error">
                {{ form_errors(form.password) }}
            </div>
        </div>
    </div>

    {% for i in form.roles %}
        <div class="form-group row">
            <label for="inputName" class="col-sm-1 col-form-label">Role</label>
            <div class="col-sm-11">
                {{ form_widget(i, {'attr': {'id':'inputName', 'class': 'form-control', "placeholder": 'Role'}}) }}
                <div class="form-error">
                    {{ form_errors(i ) }}
                </div>
            </div>
        </div>
    {% endfor %}


    {{ form_row(form._token) }}

    <button class="btn btn-success new-promotion">{{ button_label|default('Save') }}</button>
</div>
