{% extends 'backend/layouts/main.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block content %}
    <div class="card-body">
        <h1>Edit User</h1>

        {{ include('backend/user/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('user_index') }}">back to list</a>
    </div>
{% endblock %}
