{% extends 'backend/layouts/main.html.twig' %}

{% block title %}User index{% endblock %}


{% block content %}
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">User index</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <a href="{{ path('user_new') }}" class="btn btn-success">Create new</a>
                        </div>

                        <table class="table" id="userModel">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Enabled</th>
                                <th>Roles</th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.enabled ? 'Yes' : 'No' }}</td>
                                    <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
                                    <td>
                                        <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn"><i class="fas fa-edit"></i></a>
                                        {{ include('backend/user/_delete_form.html.twig') }}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="13">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

{% endblock %}
