{% extends 'backend/layouts/main.html.twig' %}

{% block title %}New User{% endblock %}

{% block content %}
    <div class="card-body">
        <h1>Create new User</h1>

        {{ include('backend/user/_form.html.twig') }}

        <a href="{{ path('user_index') }}">back to list</a>
    </div>
{% endblock %}
