{% extends 'backend/layouts/main.html.twig' %}

{% block content %}


    {% block page_contents %}

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Profile</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">User Profile</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    {% include 'backend/user/profile-left-side.html.twig' %}
                    <!-- /.col -->
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link {{ routeActive(app.request.uri, 'profile') }} " href="/profile">Profile</a></li>
                                    <li class="nav-item"><a class="nav-link {{ routeActive(app.request.uri, 'change-password') }} change-password" href="/profile/change-password">Change password</a></li>
                                </ul>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="settings">
                                        {{ form_start(updateForm) }}
                                            <div class="form-group row">
                                                <label for="inputName" class="col-sm-2 col-form-label">Username</label>
                                                <div class="col-sm-10">
                                                    {{ form_widget(updateForm.username, {'attr': {'id':'inputName', 'class': 'form-control', "placeholder": 'Username'}}) }}
                                                    <div class="form-error">
                                                        {{ form_errors(updateForm.username) }}
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group row">
                                                <label for="inputName2" class="col-sm-2 col-form-label">Email</label>
                                                <div class="col-sm-10">
                                                    {{ form_widget(updateForm.email, {'attr': {'id':'inputName', 'class': 'form-control', "placeholder": 'Email'}}) }}
                                                    <div class="form-error">
                                                        {{ form_errors(updateForm.email) }}
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="form-group row">
                                                <div class="offset-sm-2 col-sm-10">
                                                    <button type="submit" class="btn btn-danger">Submit</button>
                                                </div>
                                            </div>
                                        {{ form_end(updateForm) }}
                                    </div>
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div><!-- /.card-body -->
                        </div>
                        <!-- /.nav-tabs-custom -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    {% endblock %}

{% endblock %}