
<div class="col-md-3">
    <!-- Profile Image -->
    <div class="card card-primary card-outline">
        <div class="card-body box-profile">
            <div class="text-center">
                <img class="profile-user-img img-fluid img-circle"
                     src="/dist/img/user2-160x160.jpg"
                     alt="User profile picture">
            </div>

            <h3 class="profile-username text-center">{{ app.user.username }}</h3>

            <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                    <b>Email</b> <a class="float-right">{{ app.user.email }}</a>
                </li>
                <li class="list-group-item">
                    <b>Username</b> <a class="float-right">{{ app.user.username }}</a>
                </li>
            </ul>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>