{% extends 'frontend/layouts/main.html.twig' %}

{% block content %}

    <div class="container">
        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">
                An email has been sent. It contains a link you must click to reset your password.
                Note: You can only request a new password once within 2 hours.

                If you don't get an email check your spam folder or try again.
            </article>
        </div> <!-- card.// -->
    </div>
{% endblock %}
