{% extends 'frontend/layouts/main.html.twig' %}

{% block content %}

    <div class="container">
        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h4 class="card-title mt-3 text-center">Username or email address</h4>
                <form action="{{ path("fos_user_resetting_send_email") }}" method="post">

                    <div class="form-group input-group">

                        <div class="input-group-prepend">
                            <span class="input-group-text">  <i class="fa fa-calendar"></i></span>
                        </div>

                        <input type="text" name="username" id="inputUsername" class="form-control" required autofocus placeholder="Username or Email">

                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Reset password  </button>
                    </div>

                </form>
            </article>
        </div> <!-- card.// -->
    </div>

{% endblock %}