{% extends 'frontend/layouts/main.html.twig' %}

{% block content %}
    <div class="container">
        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">
                {{ form_start(form) }}

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', "placeholder": 'Password'}}) }}

                        <div class="form-error">
                            {{ form_errors(form.plainPassword.first) }}
                        </div>
                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', "placeholder": 'Confirm Password'}}) }}

                        <div class="form-error">
                            {{ form_errors(form.plainPassword.second) }}
                        </div>
                    </div>


                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Submit  </button>
                    </div>

                {{ form_end(form) }}
            </article>
        </div> <!-- card.// -->
    </div>
{% endblock %}
