<form method="post" action="{{ path('statistic_delete', {'id': statistic.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ statistic.id) }}">
    <button class="btn"><i class="fa fa-trash"></i></button>
</form>
