{{ form_start(form) }}

<div class="build-form-parent">

    {% if not form.vars.valid %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <div class="form-group row">
        <label for="inputName" class="col-sm-1 col-form-label">Product Id</label>
        <div class="col-sm-11">
            {{ form_widget(form.product_id, {'attr': {'id':'inputName', 'class': 'form-control', "placeholder": 'Product Id'}}) }}
            <div class="form-error">
                {{ form_errors(form.product_id) }}
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label for="inputName" class="col-sm-1 col-form-label">Click Number</label>
        <div class="col-sm-11">
            {{ form_widget(form.click_number, {'attr': {'id':'inputName', 'class': 'form-control', "placeholder": 'Click Number'}}) }}
            <div class="form-error">
                {{ form_errors(form.click_number) }}
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label for="inputName" class="col-sm-1 col-form-label">Date</label>
        <div class="col-sm-11">
            {{ form_widget(form.date, {'attr': {'id':'inputName', 'class': 'form-control', "placeholder": 'Date'}}) }}
            <div class="form-error">
                {{ form_errors(form.date) }}
            </div>
        </div>

    </div>

    {{ form_row(form._token) }}

    <button class="btn btn-success new-promotion">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
