{% extends 'backend/layouts/main.html.twig' %}

{% block title %}Statistic index{% endblock %}

{% block content %}

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <h1>Statistic index</h1>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Product_id</th>
                            <th>Click_number</th>
                            <th>Date</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for statistic in statistics %}
                            <tr>
                                <td>{{ statistic.id }}</td>
                                <td>{{ statistic.productId }}</td>
                                <td>{{ statistic.clickNumber }}</td>
                                <td>{{ statistic.date ? statistic.date|date('Y-m-d') : '' }}</td>
                                <td>
                                    {{ include('backend/statistic/_delete_form.html.twig') }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </section>
{% endblock %}
