{% extends 'backend/layouts/main.html.twig' %}

{% block content %}

    <div class="card-body">
        <title>Add Statistic</title>

        <h2 class="add-title">Add new Statistic</h2>

        {{ include('backend/statistic/_form.html.twig') }}

    </div>

{% endblock %}