{% extends 'frontend/layouts/main.html.twig' %}

{% block content %}

    <div class="container">
        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">
                <h4 class="card-title mt-3 text-center">Sign in</h4>
                <form action="{{ path("fos_user_security_check") }}" method="post">

                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">  <i class="fa fa-calendar"></i></span>
                        </div>

                        <input type="text" value="{{ last_username }}" name="_username" id="inputUsername" class="form-control" required autofocus placeholder="Username">

                    </div>


                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input type="password" name="_password" id="inputPassword" class="form-control" required  placeholder="Password">

                        <div class="form-error">
                        </div>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>

                        <a href="{{ path('fos_user_resetting_request') }}" class="forgot-password">Forgot password ?</a>

                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Sign in  </button>
                    </div>

                    <p class="text-center">Haven't an account? <a href="/register/">Create Account</a> </p>
                </form>
            </article>
        </div> <!-- card.// -->
    </div>

{% endblock %}